.checkbox {
    position: absolute;
    height: 1.17em;
    aspect-ratio: 1;
    border: solid 0.1rem #e0e0e0;
    border-radius: 50%;
    top: 2rem;
    left: 2rem;
}

    .checked {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60%;
        aspect-ratio: 1;
        background-color: var(--moderate-cyan);
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

@media screen and (max-aspect-ratio: 1) {
    .checkbox {
        transform: translate(0, 50%);
        top: 1.5rem;
        left: 1.5rem;
    }

    .checkbox:first {
        transform: none;
    }
}
