#modal {
    display: none;
    position: absolute;
    top: -10vh;
}

    #modal img {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
        #modal img:hover {
            cursor: pointer;
        }
